@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.reg-main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
    background-color: #ececec;
}

.reg-container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(150, 157, 173);
}
.reg-container .reg-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.reg-container .reg-form {
    margin-top: 30px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: start;
    justify-items: start; */
}



/* Reg Input Box */

.reg-form .reg-input-box {
    width: 100%;
    margin-top: 20px;
}
.reg-input-box label {
    color: #333;
}
.reg-form :where(.reg-input-box input, .select-box) {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.reg-input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}



/* PASS + PICTURE COMBO */

.reg-form .x-y-combo{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
}

.reg-form .pass-pic-box{
    width: 40%;
    margin-top: 20px;
}

.reg-form .x-y-combo label {
    margin-right: 10px;
    color: #333;
}

.reg-form .x-y-combo input {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}








.reg-form .column {
    display: flex;
    column-gap: 15px;
}
.reg-form .degree-box {
    margin-top: 20px;
}
.degree-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.reg-form :where(.degree-option, .degree) {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    flex-wrap: wrap;
}
.reg-form .degree {
    column-gap: 5px;
}
.degree input {
    accent-color: rgb(130, 106, 251);
}
.reg-form :where(.degree input, .degree label) {
    cursor: pointer;
}
.degree label {
    color: #707070;
}
.address :where(input, .select-box) {
    margin-top: 15px;
}
.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.reg-form .reg-button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
}
.reg-form .reg-button:hover {
    background: rgb(88, 56, 250);
}


/*Responsive*/
@media screen and (max-width: 500px) {
    .reg-form .column {
        flex-wrap: wrap;
    }
    .reg-form :where(.degree-option, .degree) {
        row-gap: 15px;
    }
}
